&pinctrl {
	pdm0_default_alt: pdm0_default_alt {
		group1 {
			psels = <NRF_PSEL(PDM_CLK, 0, 26)>,
				<NRF_PSEL(PDM_DIN, 0, 25)>;
		};
	};
};

dmic_dev: &pdm0 {
	status = "okay";
	pinctrl-0 = <&pdm0_default_alt>;
	pinctrl-names = "default";
};


&i2c0 {
    apds9960: apds9960@68 {
        compatible = "avago,apds9960";
        reg = <0x68>;
        int-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;  // Replace with an available GPIO
        label = "APDS9960";
        status = "okay";
    };
};




&apds9960 {
    status = "okay";
};

&sx1509b {
    status = "okay";
};

&gpio0 {
    status = "okay";
};


&hts221 {
    status = "okay";
};



/ {
    aliases {
        temphum = &hts221;
        light = &apds9960;
		
    };
};
